@using GoodeBooks.Services.ViewModels.Volumes;

@model PagedList.IPagedList<VolumeViewModel>

<div class="container">
    <table>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Etag</th>
            <th>Country</th>
            <th>Text snippet</th>
            <th>Average rating</th>
            <th>Ratе</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var volume in Model)
        {
            <tr>
                <td><img src="@volume.ImageUrl" alt="Image" class="table-image"></td>
                <td hidden>@volume.Id</td>
                <td>@volume.VolumeName</td>
                <td>@volume.Etag</td>
                <td>@volume.Country</td>
                <td>@volume.TextSnippet</td>
                <td id="average-rating-1">@volume.AverageRate</td>
                <td class="rating-column">
                    <div class="star-rating">
                        @for (var i = 5; i >= 1; i--)
                        {
                            <input type="radio" name="rating-@volume.Id" id="rating-@volume.Id-@i" value="@i" class="star-icon visually-hidden" data-volume="@volume.Id" />
                            <label for="rating-@volume.Id-@i"><i class="fa fa-star"></i></label>
                        }
                       
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Update", "Volume", new { id = volume.Id })">Update</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Delete", "Volume", new { id = volume.Id })">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </table>
    <a href="@Url.Action("PreviousPage", new { currentPage = Model.PageNumber })">Previous</a>
    <a href="@Url.Action("NextPage", new { currentPage = Model.PageNumber })">Next</a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="~/css/table.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.star-icon').change(function () {
            var rating = parseInt($(this).val());
            var volumeId = $(this).data('volume');
            var $stars = $(this).closest('.star-rating').find('label');

            $stars.each(function (index) {
                var starIndex = index + 1;
                if (starIndex <= rating) {
                    $(this).addClass('filled');
                } else {
                    $(this).removeClass('filled');
                }
            });

            var volumeTitle = $(this).closest('tr').find('td:eq(2)').text();
            HandleRatingChanged(volumeTitle, rating);
        });
    });


    function HandleRatingChanged(volumeTitle, rating) {
        $.ajax({
            type: 'POST',
            url: '/StarRate/AddRate',
            data: { volumeTitle: volumeTitle, rate: rating },
            success: function (response) {
               
                console.log('Rating updated successfully');
            },
            error: function () {
                console.log('Rating updated successfully');
            }
        });
    }
</script>
