@using GoodeBooks.Services.ViewModels.Volumes;

@model PagedList.IPagedList<VolumeViewModel>

<div class="container">
    <table>
        <tr>
            <th>Title</th>
            <th>Etag</th>
            <th>Country</th>
            <th>Text snippet</th>
            <th></th>
        </tr>
        @foreach (var volume in Model)
        {
            <tr>
                <td hidden>@volume.Id</td>
                <td>@volume.VolumeName</td>
                <td>@volume.Etag</td>
                <td>@volume.Country</td>
                <td>@volume.TextSnippet</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Update", "Volume", new { id = volume.Id })">Update</a>
                    </div>
                </td>
            </tr>
        }
    </table>
    <a href="@Url.Action("PreviousPage", new { currentPage = Model.PageNumber })">Previous</a>
    <a href="@Url.Action("NextPage", new { currentPage = Model.PageNumber })">Next</a>
</div>

<link rel="stylesheet" href="/css/table.css" />