@using GoodeBooks.Services.ViewModels.Bookshelves;
@model PagedList.IPagedList<BookshelfViewModel>

<div class="container">
    <table>
        <tr>
            <th>Kind</th>
            <th>Title</th>
            <th>Number of volumes</th>
            <th>Titles</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var bookshelf in Model)
        {
            <tr>
                <td hidden>@bookshelf.Id</td>
                <td>@bookshelf.Kind</td>
                <td>@bookshelf.Title</td>
                <td>@bookshelf.VolumeCount</td>
                <td>@bookshelf.VolumeTitles</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("UpdateBookshelf", "Bookshelf", new { id = bookshelf.Id })">Update</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Delete", "Bookshelf", new { id = bookshelf.Id })">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </table>
    @if (Model.Count > 10)
    {
        <!-- Previous page button -->
        <a href="@Url.Action("PreviousPage", new { currentPage = Model.PageNumber })">Previous</a>

        <!-- Next page button -->
        <a href="@Url.Action("NextPage", new { currentPage = Model.PageNumber })">Next</a>
    }
</div>

<link rel="stylesheet" href="/css/table.css" />
